# This is Python Tutorial

In [1]:
print("Hello World")

Hello World

Note: You use shift enter to run

$ a= b+c $

Put the a = b+c in between two dollar signs just like "" to make it look mathematical

In [3]:
(45-(8*7)/2 +(144/2))

89.0

In [4]:
a = (45-(8*7)/2 +(144/2))

In [6]:
b = 42*6+9

In [7]:
print (a + b)

350.0

In [8]:
a = 4

In [9]:
b = 6

In [10]:
print (a+b)

10

The former values of a and b have been rewritten

In [11]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     4
b          int     6

%whos --> this shows all the variables in the memory

In [12]:
x = 7.77

In [13]:
print(type(x))

<class 'float'>

In [16]:
c,d,e,f,g,h= 3,7,9.8,9,-10,"hey"

In [17]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          int      6
c          int      3
d          int      7
e          float    9.8
f          int      9
g          int      -10
h          str      hey
x          float    7.77

In [18]:
del f

In [19]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          int      6
c          int      3
d          int      7
e          float    9.8
g          int      -10
h          str      hey
x          float    7.77

 ## Arithmetic Operators

Addition +
Subtraction -
Division / 
mod % 
Multiplication * 
Floor Division // (10/3 = 3.33 but 10//3 = 3 w/o the .--)
To the power of **

In [22]:
string1 = "Hi"
string2 = " there"
greetings = string1+string2
print(greetings)

Hi there

In [26]:
7/10

0.7

In [27]:
14/13

1.0769230769230769

In [28]:
14//13

1

True and True is True
True and False is False

True or True is True
True or False is True
False or False is False

Not(False) is True
Not(True) is False

In [35]:
a = True
b = False

print(a and b)
print(a and a)
print(b and b)

print(a or b)
print(a or a)
print(b or b)

d = not(a)
e = not(b)

print(d)
print(e)

False
True
False
True
True
False
False
True

Note: For not use not instead of Not

In [38]:
x = 7
y = 8
h = 7

print(x==y)
print(x==h)
print(x!=y)

False
True
True

# Some useful functions

round() make it as integer
round is the function and what is inside is the argument

In [39]:
round(4.8)

5

In [40]:
round(4.3)

4

In [41]:
round(7.8785)

8

round(x,y)
round x to y decimal places

In [42]:
round(7.878598, 3)

7.879

In [ ]:
round(7.878598, 1)

In [44]:
round(7.342298, 3)

7.342

In [45]:
round(7.432598, 1)

7.4

divmod(x,y)
divides and returns quotient and remainder
It's result is a tuple

In [46]:
divmod(27,5)

(5, 2)

In [48]:
divmod(8,2)

(4, 0)

In [56]:
divmod(9,2)

(4, 1)

In [57]:
type(G)

tuple

In [60]:
G = divmod(9,2)
G[0]

4

isinstance()
returns either true or false. It checks if a data value belongs to a particular type

print(isinstance(1, (int, float)))
does 1 belong to any of these types, that's what it's checking

In [63]:
print(isinstance(1, int))
print(isinstance(1.4, int))
print(isinstance(1, (int, float)))
print(isinstance("hi", (int, float)))

True
False
True
False

pow(x,y)
x raised to the power of y or x**y

pow(x,y,z)
(x**y) % z

In [64]:
pow(2,4)

16

In [65]:
pow(2,4,7)

2

In [66]:
16%7

2

In [68]:
k = input("Enter a number : ")

Enter a number : 7

In [69]:
type(k)

str

In [70]:
l = int(input("Enter a number : "))

Enter a number : 7

In [71]:
type(l)

int

In [72]:
n = float(input("Enter a number : "))

Enter a number : 9

In [73]:
print(n)

9.0

If you don't know what a function is for, type the function? example pow?

# Control flow

In [76]:
a = int(input("Enter a number : "))
b = int(input("Enter another number : "))

if a > b:
    print(a)
    print("I am still inside the if condition")
print("I am outside the if condition")
if b > a:
    print(b)

Enter a number : 9
Enter another number : 10
I am outside the if condition
10

In [81]:
a = int(input("Enter a number : "))
b = int(input("Enter another number : "))

if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("a is not greater than b")

Enter a number : 0
Enter another number : 8
a is not greater than b

In [82]:
a = int(input("Enter Marks: "))
if a >=85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("A- Grade")
elif (a <80) and (a >= 75):
    print("B Grade")
else:
    print("Below Average")

Enter Marks: 87
A Grade

Nested If

In [83]:
c = int(input("Enter a number : "))

if c > 10:
    print("your number is above 10")
    if c > 20:
         print("and also above 20")
    else:
        print("but not above 20")
print("Outside all ifs")

Enter a number : 9
Outside all ifs

In [84]:
c = int(input("Enter a number : "))

if c > 10:
    print("your number is above 10")
    if c > 20:
         print("and also above 20")
    else:
        print("but not above 20")
print("Outside all ifs")

Enter a number : 99
your number is above 10
and also above 20
Outside all ifs

In [85]:
c = int(input("Enter a number : "))

if c > 10:
    print("your number is above 10")
    if c > 20:
         print("and also above 20")
    else:
        print("but not above 20")
print("Outside all ifs")

Enter a number : 17
your number is above 10
but not above 20
Outside all ifs

In [ ]:
# This is a single line comment
"""
This is a multiline comment
"""

In [12]:
"""
User will enter a floating point number lets say 238.915, 
your task is to find out the integer
portion before the point (in this case 238)
and then check if the integer portion is an even number or not
Print yes or no
"""

number = float(input("Enter a real number : "))
rounded_number = round(number)
print("The rounded number: ",rounded_number)
if rounded_number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a real number : 238.915
The rounded number:  239
Odd

# WHILE Loops

In [5]:
n = int(input("Enter max iterations: "))
print("This is the number eg 5. Then 1**1=1, 2**2=2, 3**3=9...")
i = 1
while i < n:
    print(i**2)
    print("This is the iteration number", i)
    i+=1

Enter max iterations: 5
This is the number eg 5. Then 1**1=1, 2**2=2, 3**3=9...
1
This is the iteration number 1
4
This is the iteration number 2
9
This is the iteration number 3
16
This is the iteration number 4

TASK: Take a number and iterate through it. For each iteration, if the number is a square then print it, if it isn't jump

## Loops: Pass

In [6]:
number = int(input("Please enter a number: "))
i = 1
while i < number:
    if i % 2 == 0:
        print(i)
    else:
        pass #This pass is just to tell the code to do nothing and move on, it's not neccessarily important
    i+=1
    #The iteration has to be inside the while loop

Please enter a number: 11
2
4
6
8
10

## Loops: Break and Continue

In [8]:
i = 1
while True:
    if i%17 == 0:
        print('Break!!')
        break
    else:
        i +=1
    print('Inside the loop')
#17%17 = 0 so it will print break

Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Inside the loop
Break!!

In [10]:
i = 1
while True:
    if i%9 !=0:
    #that if the remainder of i/9 is not 0
        print("inside")
        i+=1
        continue
    print("hey")
    print("there")
    break

inside
inside
inside
inside
inside
inside
inside
inside
hey
there

In [2]:
name = input("Name please: ")
print("Hi " + name)
print("Hey", name)

Name please: j
Hi j
Hey j

In [3]:
print(name + " likes k" )
print(name, "likes k" )

j likes k
j likes k

In [4]:
birthYear = int(input("Birth year: "))
age = 2024 - birthYear
print(age)
#Note the int.

Birth year: 2001
23

In [9]:
course= 'Python for beginners'

In [10]:
print(course[0])
print(course[-1])

P
s

In [11]:
print(course[0:3])

Pyt

In [12]:
print(course[2:])

thon for beginners

In [13]:
print(course[:])

Python for beginners

In [16]:
print(course[-1:])

s

In [17]:
print(course[1:-1])

ython for beginner

# Formatted String

In [20]:
a = "John"
b = "Smith"

In [23]:
msg = (f"{a}'s surname is {b}")
print(msg)

John's surname is Smith

In [24]:
print (f"{a}'s surname is {b}")

John's surname is Smith

In [25]:
 print(len(b))

5

In [26]:
print(b.upper())

SMITH

In [27]:
print(b.lower())

smith

In [28]:
print(b.find('i'))

2

Find function is case sensitive. It returns -1 when it odesn't find what your looking for

In [30]:
fname= 'Ann'

In [32]:
print(fname.find('S'))

-1

In [33]:
print(fname.find('a'))

-1

In [34]:
print(fname.find('A'))

0

In [35]:
print(fname.find('n'))

1

In [2]:
course = 'R for beginners'
print(course.find('for'))
#it returns the index for starts with

2

In [3]:
print(course.replace('beginners', 'professionals'))

R for professionals

In [4]:
print(course.replace('Beginners', 'professionals'))
# it is cas sensitive so it won't change

R for beginners

In [6]:
print('R' in course)
#in returns a bool value whereas find returns the index

True

In [7]:
x = 10
x-= 3
print(x)

7

In [10]:
x = 10 + 3 * 2
print(x)

16

## Operator precedence
bracket,
exponentiation (2**3),
multiplication or division,
addition or subtraction

In [11]:
x = 10 + 3 * 2 ** 2
print(x)

22

# Math functions

In [12]:
print(abs(-2.9))

2.9

In [14]:
import math

In [15]:
# Calculate the square root of 25
square_root = math.sqrt(25)
print(square_root)

5.0

To see other functions type python 3 math module

# If statements

In [20]:
is_hot = False
is_cold = True

if is_hot:
    print("It's a hot day. Drink lots of water")
elif is_cold:
    print("It's a cold day. Wear warm clothes")
else:
    print("It's a lovely day")

It's a cold day. Wear warm clothes

In [39]:
credit_status = input("What's your credit status. Good or Bad. Please type Good for Good and Bad for Bad")

House_Price = 1000000
good_credit = 0.1 * 1000000
bad_credit = 0.2 * 1000000

if credit_status == "Good":
    print(f"You need to put ${good_credit} as your down payment")
elif credit_status == "Bad":
    print(f"You need to put ${bad_credit} as your down payment")
else:
    print("nice")

What's your credit status. Good or Bad. Please type Good for Good and Bad for BadGood
You need to put $100000.0 as your down payment

# While Loop

In [40]:
i = 1
while i <= 5:
    print(i)
    i = i +1
print("Done boo boo")

1
2
3
4
5
Done boo boo

In [42]:
i = 1
while i <= 5:
    print('*' * i)
    i = i +1
print("Triangle")

*
**
***
****
*****
Triangle

In [44]:
for item in 'Games':
    print(item)

G
a
m
e
s

In [45]:
for item in ['Jay', 'Kay', 'May']:
    print(item)

Jay
Kay
May

In [46]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [48]:
for item in range(5,11):
    print(item)

5
6
7
8
9
10

In [49]:
for item in range(0,10, 2):
    print(item)

0
2
4
6
8

In [57]:
prices = [10, 20, 30]

total = 0
for price in prices:
    total += price
    
print(f"The total is {total}")

The total is 60

# Nested loop

In [58]:
for x in range(4):
    for y in range(3):
        print(f"{x}, {y}")

0, 0
0, 1
0, 2
1, 0
1, 1
1, 2
2, 0
2, 1
2, 2
3, 0
3, 1
3, 2

In [60]:
numbers = [5, 2, 5, 2, 2]
for number in numbers:
    print('*' * number)

*****
**
*****
**
**

In [61]:
numbers = [5, 2, 5, 2, 2]
for number in numbers:
    output = ''
    for count in range(number):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

# List

In [62]:
names = ['Jay', 'Kay', 'May']
print(names[1])

Kay

In [63]:
names = ['Jay', 'Kay', 'May']
print(names[-1])

May

In [64]:
names = ['Jay', 'Kay', 'May']
print(names[1:])

['Kay', 'May']

In [65]:
names = ['Jay', 'Kay', 'May']
print(names[:])

['Jay', 'Kay', 'May']

In [66]:
names = ['Jay', 'Kay', 'May']
names[0] = 'Jayy'
print(names)

['Jayy', 'Kay', 'May']

In [68]:
numbers =[1, 2, 3,8,5,10,2]
max = numbers[0]
for number in numbers:
    if number > max:
        max = number
print(max)

10

# 2 DIMENSIONAL LIST

In [69]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0] [2])
print(matrix[1] [1])
print(matrix[2] [0])

3
5
7

In [71]:
matrix[0][0] = 11
print (matrix)

[[11, 2, 3], [4, 5, 6], [7, 8, 9]]

In [72]:
for row in matrix:
    for item in row:
        print(item)

11
2
3
4
5
6
7
8
9

In [73]:
numbers = [5, 2, 1, 7, 4]
numbers.append(10)
print(numbers)

[5, 2, 1, 7, 4, 10]

In [74]:
numbers.insert(0, 9)
print(numbers)
# 0 is the index you want it at

[9, 5, 2, 1, 7, 4, 10]

In [75]:
numbers.remove(1)
print(numbers)

[9, 5, 2, 7, 4, 10]

In [76]:
#numbers.clear
"""
numbers.index will return the first occurence of 5

.pop will remove the last

print(50 in numbers) will be a boolean value

print(numbers.count(3))
to count how many times 3 appears

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)


numbers2 = numbers.copy

.append
to add an item



TO REMOVE DUPLICATES
nums = [2,3,4,5,5,2,4,7]
unique = []
for num in nums:
if num not in uniques:
unique.append(num)
print(unique)
"""

'\nnumbers.index will return the first occurence of 5\n\n.pop will remove the last\n\nprint(50 in numbers) will be a boolean value\n\nprint(numbers.count(3))\nto count how many times 3 appears\n\nnumbers.sort\nprint(numbers)\n'

# DICTIONARY

In [78]:
phone = input("Phone: ")
digits_mapping = {
    "1" : "One",
    "2" : "Two",
    "3" : "Three"
}
for item in phone:
    output += digits_mapping.get(item, "!") + " "
print(output)

Phone: 1234
xx! ! ! ! One Two Three !

The above.. i dont know

# Functions

In [80]:
def greetings(): 
    print("Hi hi")
    print("Wie gehts?")

    
print("start")
greetings()
#The execution of the code in the function, only works when you call it
print("finish")

start
Hi hi
Wie gehts?
finish

In [82]:
def greeting(name): 
    print(f"Hi hi {name}")
    print("Wie gehts?")

    
print("start")
greeting("Anna")
#The execution of the code in the function, only works when you call it
print("finish")

start
Hi hi Anna
Wie gehts?
finish

In [85]:
def greetings(fname, lname): 
    print(f"Hi hi {fname} {lname}")
    print("Wie gehts?")

    
print("start")
greetings("Anna", "Jay")
#The execution of the code in the function, only works when you call it
print("finish")

start
Hi hi Anna Jay
Wie gehts?
finish

In [88]:
def square(number):
    return number * number


square(3)
print("The square of 3 is: ", square(3))
#square function

The square of 3 is:  9

In [1]:
def square(number):
    return number * number
number = int(input("Enter a number"))
result = square(number)
print(result)

Enter a number3
9

# Try and Catch

In [90]:
age = int(input('Age: '))
print (age)

Age: 22
22

In [91]:
age = int(input('Age: '))
print (age)

Age: twenty two

ValueError: invalid literal for int() with base 10: 'twenty two'

Value error above

In [92]:
try:
    age = int(input('Age: '))
    print (age)
except ValueError:
    print('Invalid value')

Age: hi
Invalid value

In [93]:
try:
    num = int(input("Number: "))
    ans = 10/num
    print(ans)
except ZeroDivisionError:
    print("You can't divide by 0")

Number: 0
You can't divide by 0

In [94]:
try:
    num = int(input("Number: "))
    ans = 10/num
    print(ans)
except ZeroDivisionError:
    print("You can't divide by 0")

Number: 2
5.0

# Comments

In [2]:
# This is a single line comment
"""
This is a multiline comment
"""
print ("Hey you, this is not a comment")

Hey you, this is not a comment

# Classes

We uses classes to define data types (numbers, strings, booleans). Complex types(List and Dictionaries)

A new data type Point

In [4]:
#Note when naming classes we dont do class_name but ClassName (pascal naming)
class Point:
    #function move for moving a point
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

#an object is the instance of the class. the class is just like a blueprint for the object to follow
#To create an obeject just call the name of the class with(). You can store it in a variable (name of choice, in this case point1)
point1 = Point()
point1.draw()

draw

In [5]:
class Point:
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

point1 = Point()
point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()

10
draw

In [6]:
class Point:
    #move method and draw method
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

point1 = Point()
point1.x = 10
point1.y = 20
#print(point1.x)

point2 = Point()
point2.x = 2
print(point2.x)
point1.draw()

2
draw

A cinstructor is a function that gets called at the time of creating an object

In [8]:
class Point:
    """"this is the constructor. init is shot for initialise. Instead of
    x and y that we mention like the above, we'd do ot here"""
    def __init__(self, x, y):
        #to initialise our object
        self.x = x
        self.y = y
        #the self is to reserence the current object (Point)
        
    def move(self):
        print("move")
    
    def draw(self):
        print("draw")

point = Point(10, 20)
#you can update x or y
point.y = 30
print(point.x)
print(point.y)

10
30

In [10]:
class Person:
    def __init__(self, name): #name attribute
        self.name = name
    #talk method
    def talk(self):
        print("talk")
        
#passing the name
jamie = Person("Jamie jones")
print(jamie.name)
jamie.talk()

Jamie jones
talk

In [13]:
class Person:
    def __init__(self, name): #name attribute
        self.name = name
    #talk method
    def talk(self):
        print(f"Hi I am {self.name}")
        
#passing the name
jamie = Person("Jamie Jones")
jamie.talk()

Hi I am Jamie Jones

In [14]:
bob = Person("Bob Liam")
bob.talk()

Hi I am Bob Liam

# Inheritance

Inheritance is a mechanism for reusing code

In [18]:
class Mammal:
    def walk(self):
        print("walk")
        
class Dog(Mammal):
    print("bark")


class Class(Mammal):
    pass
#python doesn't like an empty class so you can add something or just pass

 

dog1 = Dog()
dog1.walk()


cat1 = Cat()
cat1.walk()


"""class Dog:
    def walk(self):
        print("walk")"""
        
#say we want to do the same for Cat
"""class Cat:
    def walk(self):
        print("walk")"""
#Instead of reapeting yourself, just do a general class that they can inherit from

bark
walk
walk

'class Cat:\n    def walk(self):\n        print("walk")'

 # Modules

I don't think it's neccessary per se for data.
It might sha

Say we have a new file converters.py

def lbs_to_kg(weight):
    return weight * 0.45
    
def kg_to_lbs(weight):
    return weight / 0.45


Then we have below in app.py

import converters #the name of the file

print(converters.kg_to_lbs(70))
#calling the function kg_to_lbs and printing it out



If you want to just import sepcific functions from the module

import converters
from converters import kg_to_lbs


kg_to_lbs(100)

Say we have a file utils

def find_max(numbers):
    maximum = numbers[0]
    for number in numbers:
        if number > maximum:
            maximum = number
    return maximum 
    
    
    
 
And in our app.py

from utils import find_max


numbers = [10, 3, 6, 2]
maximum = find_max(numbers)
print(maximum(numbers)  )

# Packages

A container for multiple modules

In a mall
Men's, women's and Kids} Packages
Under men you have d/f sections; shoes, shirts} Modules

Add new directory. Say the name is ecommerce. To convert it to a package, add a special file to that directory and call it __init__
This is a specil convention in python. If you go through the process of adding a new package directly onstead of directory, pycharm in particular will create the init file.




No we want to create modules
In the package ecommerce add a new file say shipping

In shipping under ecommerce

def calc_shipping():
    print("cal_shipping")
    
#let's say you want to add this shipping module into app.py


In app.py

import ecommerce.shipping
ecommerce.shipping.calc_shipping()


#OR

from ecommerce.shipping import calc_shipping
calc_shipping()
#This is importing a particular function


#OR

from ecommerce import shipping

shipping.calc_shipping()

#This is importing all the modules

# Getting Random Values

search on google: python 3 module index