# Python Indentation

In [3]:
x = 2
if x > 5:
    print("greater")

#### Indentation refers to the spaces at the beginning of a code line. Python will give you an error if you skip the indentation:

#### The above didn't run because there's no else part.

In [4]:
x = 2
if x > 5:
    print("greater")
else:
    print("lesser")

lesser

# Comments in Python

In [5]:
# This is a single line comment so it won't run

""" This is a multiline comment so it won't run"""

a = 2
print(a)

2

# Variables
#### Variables are containers for storing values

In [6]:
anInteger = 2
aFloat = 2.2
aString = "Two"

# Type

In [8]:
type(anInteger)

int

In [10]:
type(aFloat)

float

In [11]:
type(aString)

str

In [16]:
type(5)

int

In [18]:
type("hi")

str

In [19]:
type(5.0)

float

# Casting AKA Type Conversion
#### Casting is done to specify the data type of our variables

In [12]:
str(anInteger)

'2'

In [13]:
print(anInteger)

2

In [14]:
type(anInteger)

int

#### In Python, casting from an integer to a string using str() creates a new string object representing the integer's value. However, the original integer variable remains unchanged.

### Cating is neccessary for
Mathematical operations:

When performing arithmetic operations, you often need to ensure that the operands are of the same data type. For example, if you want to add an integer and a float, you might need to cast the integer to a float first.
Function arguments:

Some functions require specific data types for their arguments. If you pass a value of a different type, you may need to cast it to the expected type before calling the function.
String formatting:

When using string formatting methods like format() or f-strings, you might need to cast values to strings to include them in the formatted string.
Input/output operations:

When reading input from the user or writing output to a file, you might need to convert values to the appropriate data type. For example, if you read a number from the user as a string, you might need to cast it to an integer or float before performing calculations.
Type hints:

Type hints provide more information about the expected types of variables and function arguments. Casting can be used to ensure that values adhere to these type hints.

In [15]:
# Mathematical operations
x = 5
y = 2.5
result = x + int(y)  # Cast y to an integer before adding

# Function arguments
def greet(name):
    print("Hello, " + str(name) + "!")

greet(123)  # Cast 123 to a string before concatenating

# String formatting
age = 25
message = f"I am {age} years old."

# Input/output operations
number = input("Enter a number: ")
number = int(number)  # Cast the input to an integer

Hello, 123!
Enter a number: 2

# Case-Sensitive

Variable names are case sensitive. Variable A is not the same as variable a

In [21]:
greeting = "Hi there"
print(Greeting)

NameError: name 'Greeting' is not defined

In [22]:
greeting = "Hi there"
print(greeting)

Hi there

# Naming Variables

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.


### Python keywords

and, assert, break, continue, else, elif, for, if, in, not, or, pass, raise, return, try, while, with, class, def, del, global, lambda, nonlocal, False, None, True, as, from, import, init, str, repr, getitem, setitem, len, del, call, abs, all, any, bin, bool, chr, complex, divmod, enumerate, eval, exec, filter, float, format, frozenset, getattr, hasattr, hash, help, hex, id, input, int, isinstance, issubclass, iter, len, list, map, max, min, next, oct, open, ord, pow, print, range, reversed, round, set, slice, sorted, str, sum, tuple, type, zip, BaseException, Exception, ArithmeticError, AssertionError, AttributeError, BufferError, ChildProcessError, ConnectionError, EOFError, FileExistsError, FileNotFoundError, GeneratorExit, ImportError, IndexError, KeyError, KeyboardInterrupt, LookupError, MemoryError, ModuleNotFoundError, NameError, NotImplementedError, OSError, OverflowError,

 RuntimeError, SyntaxError, SystemError, TypeError, ValueError, ZeroDivisionError, await, async, nonlocal, yield, yield from

# Assigning Multiple Values to multiple variables

In [25]:
b,c,d = 10,20,30
print(b,c,d)

10 20 30

In [26]:
e,f,g = 10,20

ValueError: not enough values to unpack (expected 3, got 2)

In [27]:
i,j,k = "orange"
print(i,j,k)

ValueError: too many values to unpack (expected 3)

In [29]:
i = j = k = "orange"
print(i,j,k)

orange orange orange

#### so this is how you assign one value to multiple variables = not ,

### 🚨N/B You can assign multiple variables "same amount" of multiple values and multiple variables can have one value but one variable can't have multiple values🚨

# Unpack a Collection
#### If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [36]:
friuts = ['orange', 'apple', 'kiwi'] #unpacking lists
x1,y1,z1 = fruits
print(x1,y1,z1)

NameError: name 'fruits' is not defined

### So we have to be careful with our spellings especially during exams since it's paper written

In [35]:
friuts = ['orange', 'apple', 'kiwi']#unpacking lists
x1,y1,z1 = friuts
print(x1,y1,z1)

orange apple kiwi

In [39]:
friut = ('orange', 'apple', 'kiwi')#unpacking tuples
x2,y2,z2 = friut
print(x2,y2,z2)

orange apple kiwi

# Print Function

In the print() function, you output multiple variables, separated by a comma:
like we did above

You can also use the + operator to output multiple variables:

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [40]:
x3 = "Python "
y3 = "is "
z3 = "awesome"
print(x3 + y3 + z3)

Python is awesome

# Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

If you create a variable with the same name inside a function, 
this variable will be local, and can only be used inside the function. 
The global variable with the same name will remain as it was, global and with the original value.

In [42]:
x = "alice"
def function greet():
    return ("Hi there " + x)
greet()

SyntaxError: expected '(' (2092681903.py, line 2)

In [46]:
x = "alice"
def greet():
    return ("Hi there " + x)
greet()

'Hi there alice'

You see that error? so you don't specify function it's not sql that you'll do create table names

In [50]:
x = "alice"
def greet():
    x = "jane"
    return ("Hi there " + x)
greet()

'Hi there jane'

# Python Data Types

#### Python has the following data types built-in by default, in these categories:

#### Text Type:	str
#### Numeric Types:	int, float, complex
#### Sequence Types:	list, tuple, range
#### Mapping Type:	dict
#### Set Types:	set, frozenset
#### Boolean Type:	bool
#### Binary Types:	bytes, bytearray, memoryview
#### None Type:	NoneType
#### You can get the data type of any object by using the type() function:

In [1]:
five = 5
print(type(five))

<class 'int'>

### The differences between tuples and lists in Python:

#### Tuples:

#### Immutable: Once created, their elements cannot be changed or modified.
#### Enclosed in parentheses (): This distinguishes them from lists.
#### Used for:
#### Storing fixed, unchangeable data (e.g., coordinates, days of the week).
#### Creating lookup tables or dictionaries.
#### Serving as keys in dictionaries.


#### Lists:

#### Mutable: Their elements can be added, removed, or modified after creation.
#### Enclosed in square brackets []: This distinguishes them from tuples.
#### Used for:
#### Storing dynamic data that may change.
#### Performing operations like sorting, filtering, and #### appending.
#### Creating data structures like stacks, queues, and linked lists.


#### Key Differences:

#### Feature	Tuples	Lists
#### Mutability	Immutable	Mutable
#### Syntax     	()	                  []
#### Use Cases	for tuples Fixed data, lookup tables, dictionary keys.  	for lists Dynamic data, operations, data structures

In [2]:
Python
# Creating a tuple
my_tuple = (1, 2, 3, "hello")

# Trying to change an element (not allowed)
my_tuple[0] = 4  # Raises a TypeError

# Creating a list
my_list = [1, 2, 3, "hello"]

# Modifying an element (allowed)
my_list[0] = 4

NameError: name 'Python' is not defined

In [4]:
# Creating a list
my_list = [1, 2, 3, "hello"]

# Modifying an element (allowed)
my_list[0] = 4
print (my_list)

[4, 2, 3, 'hello']

## Setting the Specific Data Type
### Different from casting

#### Key Differences:

#### Initialization: When creating a variable with a specific data type, you're directly initializing it with that type.

#### Conversion: Casting involves converting an existing value to a different data type.

In [5]:
A = int(20)
B = "girls"
print(type(A))

<class 'int'>

In [7]:
print(str(A)+" " + B)
print(f"She is part of the {B} and she is {str(A)} years old")

20 girls
She is part of the girls and she is 20 years old

In [8]:
print(type(A))

<class 'int'>

#### It still remains int because it was initialised to be int but during type conversion aka casting, we just converted it to use at that point in time

## Numeric Data Types

### Int, or integer, is a whole number, positive or "negative", without decimals, of unlimited length.

### Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

### Float can also be scientific numbers with an "e" to indicate the power of 10.


#### z = -87.7e100

### Complex numbers are written with a "j" as the imaginary part:

In [10]:
C = int(2.8)
print(C) # You can see that it won't change 2.8 to 3 but 2

D = complex(1)
print(D)

2
(1+0j)

# Random Number
### Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [11]:
import random

print(random.randrange(1,10))
#To pick a random number betwen 1 and 9

3

In [14]:
import random

print(random.randrange(1, 11, 2))#to pick any odd number between 1 and 10

3

In [16]:
import random

print(random.randrange(0,11,2))#to pick any even btw 0 and 11

6

# Python strings

In [17]:
print("hi")
print('hi')
#'hi' is the same as "hi"

hi
hi

## Quotes inside quotes

In [22]:
print("""Hi, He's coming soon and He said "Be ready".""")
"""
This is a multiline comment 
But in print, it is not
"""

print("Jesus' Love is Charis")
print("And he said \"you can use a forward slash"")

SyntaxError: unterminated string literal (detected at line 8) (1244790313.py, line 8)

In [37]:
print("""Hi, He's coming soon and He said "Be ready".""")
"""
This is a multiline comment 
But in print, it is not
"""

'''
comment?
'''
print('''\nhi there, she said "yes" ciao''')

print("Jesus' Love is Charis\n")
print("And he said \"you can use a forward slash for the escape sequence \"")

Hi, He's coming soon and He said "Be ready".

hi there, she said "yes" ciao
Jesus' Love is Charis

And he said "you can use a forward slash for the escape sequence "

The error was that there wasn't a second forward slash \"\". So it is slash quote slash quote not quote and slash

In [34]:
print("And he said \"you can use a forward slash. If we want to write \\ we have to put another if we want any other put another \\\"")

And he said "you can use a forward slash. If we want to write \ we have to put another if we want any other put another \"

## Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

## Looping through a string

In [42]:
Name = 'Ade'
print (Name[1])

for letter in Name:
    print letter

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1560233879.py, line 5)

In [43]:
Name = 'Ade'
print (Name[1])

for letter in Name:
    print (letter)

d
A
d
e

In [44]:
Name = 'Ade'
print (Name[1]\n)

for letter in Name:
    print (letter)

SyntaxError: unexpected character after line continuation character (2396160981.py, line 2)

In [46]:
Name = 'Ade'
print (Name[1]"\n")

for letter in Name:
    print (letter)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (722594018.py, line 2)

In [47]:
Name = 'Ade'
print (Name[1],"\n")

for letter in Name:
    print (letter)

d

A
d
e

## Length of a string

In [48]:
print(len(Name))

3

## Check string and Check if NOT

In [49]:
words = "God is great"
print("is" in words)

True

In [50]:
words = "God is great"
print("in" in words)

False

In [51]:
words = "God is great"
print("is" not in words)

False

In [52]:
words = "God is great"
print("in" not in words)

True

# Slicing strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Note: The first character has index 0.

In [55]:
#Get the characters from position 2 to position 7(not included):

word = "eva- premium table water"
print(word[2:7])

a- pr

## Reversing a string

In [82]:
print(word[::-1])

retaw elbat muimerp -ave

In [83]:
print(word[-5:])

water

In [84]:
print(word[5:])

premium table water

In [85]:
print(word[5:-5])

premium table

## Slice From the Start

In [58]:
print(word[:8]) # print from beginning till 8 exclding 8 ie 7

eva- pre

# Slice to the end

In [59]:
word[7:]

'emium table water'

# Negative indexing

In [60]:
print(word[-7:-2]) #It will print from -7 to -2 but not included ie till -3

e wat

# Slicing list 
## For better understanding

In [91]:
slice_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#             0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#           -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

#list[start:stop:step]

print slice_list[1:-3]#this will print from 2 till 8, 8 not inclusive ie 7

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3148093881.py, line 7)

In [92]:
slice_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#             0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#           -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

#list[start:stop:step]

print (slice_list[1:-3])#this will print from 2 till 8, 8 not inclusive ie 7

[2, 3, 4, 5, 6, 7]

### So when trying to figure out this slicing, write it out like this and the indexes both + and - below it so it's super clear

In [63]:
print (slice_list[0:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
print (slice_list[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
print (slice_list[:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
print (slice_list[:-0])# did. it on purpose so you know not to find it

[]

In [68]:
print (slice_list[2:-1:2])
#starts at 2 and prints every second value

[3, 5, 7, 9]

In [69]:
print (slice_list[2:-1:1])
#using 1 as a step is as good as not specifying any step

[3, 4, 5, 6, 7, 8, 9]

In [72]:
print (slice_list[2:-1:-1])

[]

In [73]:
#slice_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#             0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#           -10,-9,-8,-7,-6,-5,-4,-3,-2,-1


print (slice_list[-1:2:-1])

[10, 9, 8, 7, 6, 5, 4]

In [75]:
print (slice_list[2:-1])

[3, 4, 5, 6, 7, 8, 9]

#### slice_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#### ___________0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#### _________  -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

In [93]:
print (slice_list[-1:2])

[]

#### This slice is asking for the portion of the list starting from index -1 (the last element, which is 10), and stopping at index 2 (the third element, which is 3), but going in the default forward direction.

#### Start: -1 is the last element, which is 10.
#### End: 2 is the third element (value 3), but remember the ending index is exclusive in slicing.

#### When slicing with the default step (which is 1, forward), you’re trying to go forward from the last element to the third element (2). This doesn't work because you can't go forward when the start index is greater than the stop index.

#### Therefore, the result of this slice will be an empty list [].


#### So basically when slicing with step 1 that it the third part, it'''s default 1 so python expect the start index to be before the stop but if it's not, it returns an empty list but we'd see when we change the step to -1

#### Before then, let's see another slicing when the stop is before the start like this

In [80]:
print(slice_list[7:2])

[]

#### So we can see, when the right (stop) comes before the left(start), it is an empty list that is with the default step 1 ie [7:2:1]

#### slice_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#### ___________0, 1, 2, 3, 4, 5, 6, 7, 8, 9
#### _________  -10,-9,-8,-7,-6,-5,-4,-3,-2,-1

In [77]:
print (slice_list[-1:2:-1])

[10, 9, 8, 7, 6, 5, 4]

#### Here, the step is -1, which means you're slicing backwards through the list. Let’s break it down:

#### Start: -1 refers to the last element of the list, which is 10.
#### Stop: 2 refers to the third element of the list, which is 3, but remember, the stop index is exclusive. The slicing will stop before index 2.
#### Step: -1 means we’re slicing backwards through the list.
#### In this case, Python will start from the last element (at index -1, which is 10), and then move backwards until it reaches just before index 2 (which is 3).



#### So when the skip/step rather is -1 it's going in this direction <---- not the regular --->

#### So ideally when we use [1:7:1], it prints from index 1 to index 6 but when we use [-1:7:-1] it prints from index -1 to index 8 because it's going in this direction <---

## To reverse the list

In [81]:
print (slice_list[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [86]:
my_tuple = (1, 2, 3, 4, 5, 6)
print(my_tuple[1:4])

(2, 3, 4)

In [87]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Slice the first two rows and first two columns:
print(matrix[:2][:2])  # Only gives the first row due to Python behavior

[[1, 2, 3], [4, 5, 6]]

In [88]:
import numpy as np
matrix = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

# Slice the first two rows and first two columns:
print(matrix[:2, :2])  # [[1 2]
                       #  [4 5]]

[[1 2]
 [4 5]]

## Slices and Mutability

In [90]:
slice_list1 = [1, 2, 3, 4, 5]
slice_list1[1:3] = [9, 9]  # Replace values at indexes 1 and 2
print(slice_list1)

[1, 9, 9, 4, 5]

In [95]:
# Deleting elements:
slice_list2 = [1, 2, 3, 4, 5]
slice_list2[1:3] = []
print(slice_list2)

[1, 4, 5]

In [96]:
# Inserting elements:
slice_list3 = [1, 2, 3, 4, 5]
slice_list3[1:1] = [7, 8]
print(slice_list3)

[1, 7, 8, 2, 3, 4, 5]

In [98]:
# Out of bound slicing
slice_list4 = [1, 2, 3, 4, 5]
print(slice_list4[2:10])  # [3, 4, 5] (even though index 10 doesn’t exist)

[3, 4, 5]

In [99]:
print(slice_list4[2:10:2])

[3, 5]

In [100]:
slice_list5 = [1, 2, 3, 4, 5]
print(slice_list5[4:1:-1])

[5, 4, 3]

# Slicing Test

## Easy
Basic slicing of strings

Given the string s = "watermelon", what will print(s[:5]) output?
Slicing lists with default steps

Output: water




For the list l = [10, 20, 30, 40, 50], what does l[1:4] return?

Output:[20,30,40]




Negative indexing
What will print("python"[-4:]) output?

Output: elon

## Correction Easy
Basic slicing of strings:

Given the string s = "watermelon", what will print(s[:5]) output?
You answered "water" which is correct!
✅ Great job!
Slicing lists with default steps:

For the list l = [10, 20, 30, 40, 50], what does l[1:4] return?
You answered [20, 30, 40] which is also correct!
✅ Spot on!
Negative indexing:

What will print("python"[-4:]) output?
You answered "elon", but the actual answer is "thon". Remember, negative indexing starts from the end, so -4 refers to "t".
❌ A small mistake here, but you're close!

elon because i thought watermelon. LET'S BE CAREFUL HERE YOU KNOW YOU'LL BE WRITING ON PAPER. I take authority, bind and cast out the spirit of error from me in the name of Jesus. Amen!

## Tricky

1. Slicing a list with a step

For the list nums = [1, 2, 3, 4, 5, 6, 7, 8, 9], what does print(nums[::2]) return?
Output: [2,4,6,8]




2. Negative step slicing in strings

Given text = "abcdefg", what will print(text[-2:-6:-1]) output?

a  b  c  d  e  f  g
-7 -6 -5 -4 -3 -2 -1

Output: cdef



3. Empty slice due to wrong step direction

You have lst = [10, 20, 30, 40, 50]. What does print(lst[3:1]) return, and why?

Output:[] Empty list because python expects the start index in this case 3 to come before the stop index in this case 1 (ie 1:3) for the default step 1

## Tricky correction

In [103]:
text = "abcdefg"
print(text[-2:-6:-1])


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(nums[::2])

fedc
[1, 3, 5, 7, 9]

## Hard

1. Out of bounds slicing in lists

For the list l = [2, 4, 6, 8], what will print(l[3:10]) return and why?

Output: [8] because the start index is 3 which is value 8 and even if it is out of rnage for the stop index python won't raise an error but just give you the valid elements as output


2. Multi-dimensional slicing (numpy)

For a 2D numpy array matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), what will matrix[1:, ::-1] return?





3. List slicing with step -1

For lst = [100, 200, 300, 400, 500], what will print(lst[4:1:-1]) return? Explain how the step affects the direction.

Output: [500, 400, 300]

In [104]:
lst = [100, 200, 300, 400, 500]
print(lst[4:1:-1])

[500, 400, 300]

# DAT 613 continuation

# Conditions & Iterations

Boolean expressions evaluate to True
or False
Can be used for decision making.
Keywords include:
if
else
elif (this is equivalent to else if combined)

## If statements

In [105]:
october = 10

if (october == 10):
    print("Tenth month")
    
else:
    print("What month then?")

Tenth month

#### Logical operators can also be used.

#### and (If both operands are true, then the condition will be true)
#### or (If any is true then both are true)
#### Reverse the effect of and, or

# For loop

In [106]:
college = "SST"

for letter in college:
    print(letter)

S
S
T

In [107]:
fruits = ["banana", "apple", "pear"]
for fruit in fruits:
    print (fruit)

banana
apple
pear

In [108]:
fruits = ["banana", "apple", "pear"]
for fruit in fruits:
    print (f"Current fruit is: {fruit}")

Current fruit is: banana
Current fruit is: apple
Current fruit is: pear

In [109]:
fruits = ["banana", "apple", "pear"]
for fruit in fruits:
    print (f"Current fruit: {fruit}")
print(f"Out of for loop")

Current fruit: banana
Current fruit: apple
Current fruit: pear
Out of for loop

# For loop in range

In [111]:
for x in range (1,20): #It will print from 1 to 19
    print (x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# While loop

#### count = 0
#### while (count < 10):
####     print(f"count is in {count}")
#### print("out of while loop")

#### Omo this thing wan spoil my mac. Na infinity loop because we didn't tell it what to do with count

In [113]:
count = 0
while (count < 10):
    print(f"Count is at {count}")
    count+=1
print("Out of while loop")

Count is at 0
Count is at 1
Count is at 2
Count is at 3
Count is at 4
Count is at 5
Count is at 6
Count is at 7
Count is at 8
Count is at 9
Out of while loop

In [114]:
count = 0
while (count < 10):
    count+=1
    print(f"Count is at {count}")
print("Out of while loop")

Count is at 1
Count is at 2
Count is at 3
Count is at 4
Count is at 5
Count is at 6
Count is at 7
Count is at 8
Count is at 9
Count is at 10
Out of while loop

Given a list as seen below
s = [3, 4, 5, 7, 10,20,30,40,45,65]
1. Write a code to sum all the even numbers
2. Write a code to sum all the odd numbers
3. Write a code to generate the total number of odd and even numbers

In [117]:
evenOddList = [3, 4, 5, 7, 10,20,30,40,45,65]

evenList = []
oddList = []
for number in evenOddList:
    if (number % 2 == 0):
        #number.append(evenList) wrong
        evenList.append(number)
    else:
        oddList.append(number)

        
print(f"The list of even numbers is {evenList}")
print(f"The list of odd numbers is {oddList}")


sumOfEven = 0
sumOfOdd = 0

for num in evenOddList:
    sumOfEven += num
    

for num in evenOddList:
    sumOfOdd += num

print(f"The sum of even numbers is {sumOfEven}")
print(f"The sum of odd numbers is {sumOfOdd}")

The list of even numbers is [4, 10, 20, 30, 40]
The list of odd numbers is [3, 5, 7, 45, 65]
The sum of even numbers is 229
The sum of odd numbers is 229

# Functions

A function is any defined program code
segment (or simply subprogram) which
can be executed by being called from the
main program.
As the name implies, a function is
usually defined to carry out a given
function.

Why Write Functions?
Any set of codes that are repeatedly
required in a program are best written
once within a defined function.
The functions can then be called again
and again as required within the overall
program.
In this way, coding errors can be
minimized and the codes will be easier to
understand and maintain.

## Defining Functions
In defining a function we should think of
at least 4 things
1. What is the purpose of the function?
The function should have a clearly
defined purpose.
2. Name of the function. It makes sense
for the name to reflect what the function
does

3. What should be passed to the
function? The data that are passed to the
function are called arguments.
4. What sort of value should our function
return? Or should it simply influence
some other existing data without
returning any?

## Function to calculate length and breadth

In [119]:
def area (length, breadth):
    return length*breadth
print(area(2,7))

14

In [120]:
#or
def area (length, breadth):
    return length * breadth
result = area(2,7)
print(result)

14

### I prefer the first though

### Function to add three numbers

In [121]:
def addThreeNumbers (x,y,z):
    return (x+y+z)
print(addThreeNumbers(1,2,3))

6

### Function to convert to km and to m

In [125]:
def convertToKM (meters):
    return (meters/1000)
print(convertToKM(7))


def convertToM (kilometers):
    return(kilometers * 1000)
print(convertToM(70))

0.007
70000

This code runs successfully because it correctly defines and uses the conversion functions. However, if you'd like to print a more descriptive message along with the conversion result (which was your original intent), you can modify the print statements slightly to include a formatted output.

In [126]:
def convertToKM (meters):
    return (meters/1000)
meters = 7
print (f"{meters} meters is {convertToKM(meters)} kilometers")

7 meters is 0.007 kilometers

In [127]:
def convertToM (kilometers):
    return(kilometers * 1000)
kilometers = 70
print (f"{kilometers} km is {convertToM(kilometers)} meters")

70 km is 70000 meters

There are many built-in functions in python.
You have already seen some e.g.s
str() function takes an object e.g. an integer
and returns a printable string.
int() function takes a string or a number e.g.
float and returns an integer. If no number is
provided, it returns zero
float(x) function return a floating point number
constructed from a number or string x.
Returns 0.0 if not argument is supplied.

# Homework
Write a function to check if a
password is valid.

In [133]:
def password_validation(input_Password):
    storedPassword = "p@123"
    if input_Password == storedPassword:
        print("Access")
    else:
        print("Access denied, please try again")
input_Password = str(input("Please enter the password: "))
#print(password_validation(input_Password)) none will show
password_validation(input_Password)

Please enter the password: p@123
Access

In [140]:
def password_checker (input_password):
    stored_password1 = "pau123"
    if input_password == stored_password1:
        print("Access")
    else:
        print("Acess Denied")
user_password = str(input("please enter your password"))
password_checker(user_password)

please enter your passwordpau123
Access

## Greet function

In [143]:
def greet(x):
    return(f"Hi {x}")
print(greet("Hannah"))

Hi Hannah

## Palindrome checker function

In [152]:
def IsPalindrome (word):
    reversedWord = word[::-1]#I intially didn't put - at the 1 so be careful
    if reversedWord == word:
        return (f"{word} is a palindrome")
    else:
        return(f"{word} is not a palindrome")
word = "madam"
print(IsPalindrome(word))

madam is a palindrome

In [151]:
def IsPalindrome (word2):
    reversedWord = word2[::-1]#I intially didn't put - at the 1 so be careful
    if reversedWord == word2:
        return (f"{word2} is a palindrome")
    else:
        return(f"{word2} is not a palindrome")
word2 = "guy"
print(IsPalindrome(word2))

guy is not a palindrome

# Writing to and Reading from a file

names = ["jess", "john", "jay", "jasmine", "jake"]
ages = [20,19,22,20,23]

file_handle = open("NamesAndAges", "w")####.txt 
for name, age in zip (names, ages):
    file_handle.write(f"{name} {str(age)} \n")
file_handle.close()

In [155]:
names = ["jess", "john", "jay", "jasmine", "jake"]
ages = [20,19,22,20,23]

file_handle = open("NamesAndAges.txt", "w")
for name, age in zip (names, ages):
    file_handle.write(f"{name} {str(age)} \n")
file_handle.close()

In [156]:
reader = open("/Users/caleboneyemi/Downloads/NamesAndAges.txt", "r")
for each_line in reader:
    print(each_line)
reader.close()

jess 20

john 19

jay 22

jasmine 20

jake 23

In [157]:
names = ["james", "Biodun", "Kaka", "Jumoke"]
scores = [20, 56, 76, 30]

file_handle = open("data.txt", "w")
for name, score in zip (names, scores):
    file_handle.write(f"{name} {str(score)} \n")
file_handle.close()

In [1]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [2]:
AA = 'Hello, World!'
print(AA[-1:-6:-1])

!dlro

In [6]:
l = ["phy", "chem", 1997, 2000, [1,2,3,4]]

print(l[-1:-3:-1])

[[1, 2, 3, 4], 2000]

In [7]:
h = 'Hello, World!'
print(h[-1:6:-1])

!dlroW

In [9]:
t = 'trichology!'
print(t[-1:-6:-1])

!ygol

In [16]:
print(h[-1:-6:-1])

!dlro

In [18]:
a = [1,2,3,4,5]
b = a.index(4)
print(b)

3