In [1]:
pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

A DataFrame is a **two-dimensional**,
tabular data structure commonly used in
data analysis, with rows and columns,
similar to a spreadsheet or database
table.

# Creating a dataframe

In [37]:
import pandas as pd

In [5]:
listA = [1,2,3]
a = pd.dataframe(listA)
print(a)

AttributeError: module 'pandas' has no attribute 'dataframe'

The above didn't work because it's not dataframe but DataFrame

In [6]:
listA = [1,2,3]
a = pd.DataFrame(listA)
print(a)

   0
0  1
1  2
2  3

In [7]:
listOfStudents = [['Ann', 3], ['Jacob', 4], ['Sammie', 9]]
studentsDF = pd.DataFrame(listOfStudents)
print(studentsDF)

        0  1
0     Ann  3
1   Jacob  4
2  Sammie  9

### Let's put in the columns

In [9]:
listOfStudents = [['Ann', 3], ['Jacob', 4], ['Sammie', 9]]
studentsDF = pd.DataFrame(listOfStudents, columns = ['Name', 'Age'])
print(studentsDF)

     Name  Age
0     Ann    3
1   Jacob    4
2  Sammie    9

In [11]:
dict_of_students = {
    "student name": ['ann', 'ben', 'stacy'],
    "sudent age" : [2, 4, 6]
}

studentsDF2 = pd.DataFrame(dict_of_students)
print(studentsDF2)

  student name  sudent age
0          ann           2
1          ben           4
2        stacy           6

# Add a column to Pandas Dataframe in Python

We already have names and age let's add gender

In [12]:
studentsDF2["gender"] = ["F", "M", "F"]
print(studentsDF2)

  student name  sudent age gender
0          ann           2      F
1          ben           4      M
2        stacy           6      F

# AXIS 

 In pandas:
axis=0 is for rows.
axis=1 is for columns.

In [38]:
data = {
'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
df = pd.DataFrame(data)
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [39]:
df = df.drop(['A'], axis=1)
print(df)

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5

So axis = 1 is to drop columns while axis = 0 is to drop row

So let's say you want to drop the first row

you can specify by using the columns name or by using the column index but still using axis = 1

Look below for the try out

# Delete a column in Pandas Dataframe in Python

In [40]:
data = {
'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
df = pd.DataFrame(data)
print(df)

df = df.drop(df.columns[2], axis = 1) #using the column index
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5
    A   B   D   E
0  A1  B1  D1  E1
1  A2  B2  D2  E2
2  A3  B3  D3  E3
3  A4  B4  D4  E4
4  A5  B5  D5  E5

In [21]:
data = {
'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
df = pd.DataFrame(data)
print(df)

df = df.drop('C', axis = 1) #using the column NAME
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5
    A   B   D   E
0  A1  B1  D1  E1
1  A2  B2  D2  E2
2  A3  B3  D3  E3
3  A4  B4  D4  E4
4  A5  B5  D5  E5

# Delete a row in Pandas Dataframe in Python
So it's different from deleting columns were we do columns[2] or 'column_name' this one we just specify the index and then axis = 0

In [24]:
data = {
'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
'E': ['E1', 'E2', 'E3', 'E4', 'E5']}
df = pd.DataFrame(data)
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [25]:
df = df.drop(1, axis=0)
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

# Merge two Dataframes in Python

In [26]:
demo_dataframe1 = pd.DataFrame({'Name': ['A', 'B', 'C', 'D'], 'Roll No': [1,2,3,4]})
demo_dataframe2 = pd.DataFrame({'Name': ['E', 'F', 'G', 'H'], 'Roll No': [5,6,7,8]})
print(demo_dataframe1)
print(demo_dataframe2)

  Name  Roll No
0    A        1
1    B        2
2    C        3
3    D        4
  Name  Roll No
0    E        5
1    F        6
2    G        7
3    H        8

In [27]:
demo_dataframe1 = demo_dataframe1.append(demo_dataframe2)
print(demo_dataframe1)

AttributeError: 'DataFrame' object has no attribute 'append'

In [36]:
demo_dict = {"Name":["Roy","Jason","Sancho"],"Roll No":[1,2,3],"Marks":[90,87,95]}
demo_dataframe = pd.DataFrame(demo_dict)
x = demo_dataframe['Name']
print(x)

0       Roy
1     Jason
2    Sancho
Name: Name, dtype: object

So remember slicing [1,:] is for a row so this is for the row at index 1 and we use .iloc to access it let's test others

In [35]:
demo_dict = {"Name":["Roy","Jason","Sancho"],"Roll No":[1,2,3],"Marks":[90,87,95]}
demo_dataframe = pd.DataFrame(demo_dict)
x = demo_dataframe.iloc[1,:]
print(x)

Name       Jason
Roll No        2
Marks         87
Name: 1, dtype: object